body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

a {
  color: lime;
}

a:hover {
  animation: blinker 0.1s step-start infinite;
}

/* Index Homepage */

.index__intro {
  font-size: 5vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
  text-align: center;
}

.index__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px 0;
  border-top: 2px solid white;
}

.index__name {
  flex: 0 0 25%;
}

.index__layer {
  flex: 0 0 25%;
}

.index__tag {
  flex: 0 0 50%;
}

/* IP Page */

.ip {
  background-color: magenta;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ip__text {
  font-size: 15vw;
  text-align: center;
  color: lime;
}

.button {
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
}

.animate {
  animation: blinker 0.1s step-start infinite;
}

@keyframes blinker {
  50% {
    background-color: blue;
  }
}

/* Checkers Page */

.checkers {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 2vw;
}

.checkers__black {
  background: black;
  color: lime;
  flex: 0 0 50%;
  width: 50vh;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.checkers__white {
  background: blue;
  color: white;
  flex: 0 0 50%;
  width: 50vh;
  height: 50vh;
  overflow-x: auto;
  overflow-x: hidden;
}

/* Clouds */

.clouds {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(165deg, #527785 0%, #7FB4C7 100%);
  justify-content: center;
}

.cloud--text {
  align-self: center;
  font-size: 5vw;
}

.cloud--circle {
  filter: url(#filter);
  background: transparent;
  border-radius: 50%;
  box-shadow: 200px 200px 60px 0px magenta;
  width: 50vw;
  height: 180px;
  position: absolute;
  animation: float 10s linear infinite;
}

@keyframes float {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(150%);
  }
}

/* Captchas Page */

.row {
  flex: 0 0 100%;
}

.captchas {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
}

.captchas__text {
  position: absolute;
  color: black;
  z-index: 10;
  font-weight: bolder;
  font-size: 10vw;
  align-self: center;
  cursor: help;
}

.captchas__text:hover {
  animation: blinker 0.1s step-start infinite;
}

.captcha__image {
  position: absolute;
  left: -100vw;
  width: 100vw;
  height: 33.333vh;
}

.captcha__image--1 {
  background-image: url('../images/1.png');
  background-blend-mode: difference;
  animation: slide 10s linear 0s infinite;
}

.captcha__image--2 {
  background-image: url('../images/2.jpg');
  background-blend-mode: difference;
  animation: slide 10s linear 2s infinite;
}

.captcha__image--3 {
  background-image: url('../images/3.jpg');
  background-blend-mode: difference;
  animation: slide 10s linear 4s infinite;
}

.captcha__image--4 {
  background-image: url('../images/4.png');
  background-blend-mode: difference;
  animation: slide 10s linear 6s infinite;
}

.captcha__image--5 {
  background-image: url('../images/5.jpg');
  background-blend-mode: difference;
  animation: slide 10s linear 8s infinite;
}

.captcha__image--6 {
  background-image: url('../images/6.jpg');
  background-blend-mode: difference;
  animation: slide 10s linear 10s infinite;
}

@keyframes slide {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

/* Twitch.tv */

/* https://codepen.io/chriscoyier/pen/xxKRQRm */

.twitch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitch__text {
  font-family: "Varela", sans-serif;
  color: white;
  font-size: 10vw;
  position: absolute;
  margin-left: -5vw;
  animation: upDown 1s ease-in-out 0s infinite alternate;
}

@keyframes noise-anim {
  0% {
    clip-path: inset(100% 0 1% 0);
  }
  5% {
    clip-path: inset(89% 0 9% 0);
  }
  10% {
    clip-path: inset(94% 0 5% 0);
  }
  15% {
    clip-path: inset(14% 0 18% 0);
  }
  20% {
    clip-path: inset(13% 0 74% 0);
  }
  25% {
    clip-path: inset(21% 0 34% 0);
  }
  30% {
    clip-path: inset(68% 0 4% 0);
  }
  35% {
    clip-path: inset(44% 0 38% 0);
  }
  40% {
    clip-path: inset(75% 0 13% 0);
  }
  45% {
    clip-path: inset(9% 0 26% 0);
  }
  50% {
    clip-path: inset(32% 0 37% 0);
  }
  55% {
    clip-path: inset(89% 0 2% 0);
  }
  60% {
    clip-path: inset(51% 0 25% 0);
  }
  65% {
    clip-path: inset(31% 0 40% 0);
  }
  70% {
    clip-path: inset(9% 0 71% 0);
  }
  75% {
    clip-path: inset(19% 0 58% 0);
  }
  80% {
    clip-path: inset(7% 0 54% 0);
  }
  85% {
    clip-path: inset(97% 0 2% 0);
  }
  90% {
    clip-path: inset(18% 0 44% 0);
  }
  95% {
    clip-path: inset(7% 0 47% 0);
  }
  100% {
    clip-path: inset(54% 0 12% 0);
  }
}

.twitch__text::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip-path: inset(72% 0 18% 0);
  }
  5% {
    clip-path: inset(88% 0 10% 0);
  }
  10% {
    clip-path: inset(32% 0 9% 0);
  }
  15% {
    clip-path: inset(37% 0 55% 0);
  }
  20% {
    clip-path: inset(35% 0 13% 0);
  }
  25% {
    clip-path: inset(21% 0 26% 0);
  }
  30% {
    clip-path: inset(63% 0 6% 0);
  }
  35% {
    clip-path: inset(40% 0 44% 0);
  }
  40% {
    clip-path: inset(81% 0 19% 0);
  }
  45% {
    clip-path: inset(11% 0 68% 0);
  }
  50% {
    clip-path: inset(41% 0 49% 0);
  }
  55% {
    clip-path: inset(64% 0 31% 0);
  }
  60% {
    clip-path: inset(20% 0 76% 0);
  }
  65% {
    clip-path: inset(10% 0 83% 0);
  }
  70% {
    clip-path: inset(68% 0 11% 0);
  }
  75% {
    clip-path: inset(29% 0 22% 0);
  }
  80% {
    clip-path: inset(63% 0 32% 0);
  }
  85% {
    clip-path: inset(57% 0 14% 0);
  }
  90% {
    clip-path: inset(42% 0 13% 0);
  }
  95% {
    clip-path: inset(74% 0 16% 0);
  }
  100% {
    clip-path: inset(96% 0 5% 0);
  }
}

.twitch__text::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}

.twitch__image {
  background-image: url('../images/tv.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
}

@keyframes upDown {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(150%);
  }
}

/* Trolol */

.trolol {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, lime, blue);
  background-size: 400% 400%;
  animation: backgroundGradient 5s ease-in-out infinite alternate;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.trolol__image {
  animation: spin 0.2s ease-in-out 0s infinite alternate;
  width: 50vw;
}

.trolol__image:hover {
  animation: none;
}

@keyframes backgroundGradient {
  0% {
    background-position: 0% 40%
  }
  50% {
    background-position: 100% 60%
  }
  100% {
    background-position: 0% 40%
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Test */

#led-circle {
  width: 500px;
  height: 500px;
  background: red;
}

.off {
  font-size: 100px;
}

.on {
  color: blue;
}

/* Cookies */

.cookies {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  animation: cookies 2s linear 0s infinite;
}

.cookie_image {
  flex: 0 0 5%;
  transform-origin: 50%;
  object-fit: contain;
  animation: cookies 1s linear 0s infinite reverse;
  overflow: hidden;
}

@keyframes cookies {
  from {
    transform: rotate(0deg);
    /* left: 0%; */
  }
  to {
    transform: rotate(360deg);
    /* left: 100%; */
  }
}

/* Fingerprint page */

.fingerprint {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  animation: background_cycle 100s infinite;
}

.fingerprint svg {
  flex: 0 0 25%;
  fill: blue;
  animation: fill_cycle 100s infinite;
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  animation: background_cycle 100s infinite;
}

@keyframes fill_cycle {
  0% {
    fill: rgb(82, 179, 217);
  }
  12.5% {
    fill: rgb(190, 144, 212);
  }
  25% {
    fill: rgb(246, 36, 89);
  }
  37.5% {
    fill: rgb(249, 105, 14);
  }
  50% {
    fill: rgb(238, 238, 0);
  }
  65.5% {
    fill: rgb(38, 194, 129);
  }
  75% {
    fill: rgb(51, 110, 123);
  }
  100% {
    fill: rgb(82, 179, 217);
  }
}

@keyframes background_cycle {
  0% {
    background: rgb(190, 144, 212);
  }
  12.5% {
    background: rgb(246, 36, 89);
  }
  25% {
    background: rgb(249, 105, 14);
  }
  37.5% {
    background: rgb(238, 238, 0);
  }
  50% {
    background: rgb(38, 194, 129);
  }
  65.5% {
    background: rgb(51, 110, 123);
  }
  75% {
    background: rgb(82, 179, 217);
  }
  100% {
    background: rgb(82, 179, 217);
  }
}

/* Loading Page */

.loading {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.loading__item {
  flex: 0 0 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 48px;
}

.loading__item--1 {
  background-color: black;
}

.loading__item--2 {
  background-color: gold;
}

.loading__item--3 {
  background-color: aquamarine;
}

.loading__item--4 {
  background-color: violet;
}

.loading__item__loader {
  position: absolute;
  width: 0%;
  height: 20%;
  border-radius: 25px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(36, 31, 128) 0%, rgb(98, 98, 209) 35%, rgb(162, 211, 221) 100%);
  animation: loadRight 3s ease-in-out 0s infinite alternate;
  z-index: 5;
}

.loading__text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  font-size: 20vh;
  line-height: 25vh;
  width: 100vw;
  text-align: center;
  animation: textSquash 1s ease-in-out 0s infinite alternate;
}

@keyframes loadRight {
  from {
    width: 0%;
  }
  to {
    /* Because element is absolutely positioned, we need to tell it to stop as if it had padding */
    width: calc(100% - 96px);
  }
}

@keyframes textSquash {
  from {
    transform: rotateZ(0deg)
  }
  to {
    transform: rotateX(360deg)
  }
}

/* Cloudy page */

.cloudy {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 2vw;
  align-items: center;
  justify-content: center;
}

.cloudy__item {
  background: black;
  color: lime;
  flex: 0 0 50%;
  width: 50vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloudy__item--1 {
  background-image: url('../images/cloud.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: difference;
}

.cloudy__item--2 {
  background-image: url('../images/cloud2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: difference;
}

.cloudy__item--3 {
  background-image: url('../images/cloud3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: difference;
}

.cloudy__item--4 {
  background-image: url('../images/cloud4.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: difference;
}

.cloudy__text {
  position: absolute;
  font-size: 7vw;
  mix-blend-mode: difference;
  animation: textColor 5s ease-in-out infinite alternate;
}

@keyframes textColor {
  from {
    color: lime;
  }
  to {
    color: blue;
  }
}

/* Type scene */

.scene {
  background: lightskyblue;
  width: 100vw;
  height: 100vh;
}

.sun {
  font-size: 10vw;
  color: yellow;
  float: right;
}

.cloud {
  font-size: 5vw;
  position: absolute;
  left: -20%;
  font-weight: 900;
  width: 100vw;
}

.cloud--1 {
  animation: cloud 9s linear 0s infinite;
}

.cloud--2 {
  top: 5vh;
  animation: cloud 9s linear 2s infinite;
}

.cloud--3 {
  top: 8vh;
  animation: cloud 10s linear 5s infinite;
}

.cloud--4 {
  top: 13vh;
  animation: cloud 9s linear 7s infinite;
}

.cloud--5 {
  top: 16vh;
  animation: cloud 10s linear 10s infinite;
}

.cloud--6 {
  top: 20vh;
  animation: cloud 10s linear 14s infinite;
}

.bird {
  position: absolute;
  left: -20%;
  font-size: 1vw;
  width: 100vw;
  color: black;
}

.bird--1 {
  top: 20vh;
  animation: cloud 15s ease-in-out 0s infinite;
}

.bird--2 {
  top: 30vh;
  animation: cloud 15s ease-in-out 4s infinite;
}

.grass {
  font-size: 3vw;
  bottom: 0;
  position: absolute;
  height: 25vh;
  width: 105vw;
  color: green;
  letter-spacing: -1vw;
  line-height: 2vw;
  background-color: lightgreen;
  overflow: hidden;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
}

@keyframes cloud {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(-20%);
  }
}

.wifi {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('../images/wifi.gif');
  background-size: contain;
  background-repeat: repeat;
}

.wifi__image {
  mix-blend-mode: difference;
}

.tos {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.tos__item {
  flex: 0 0 33.333%;
}

.tos__item--facebook {
  color: blue;
}

.tos__item--instagram {
  color: violet;
}

.tos__item--snapchat {
  color: yellow;
}

.firewall {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.firewall__item {
  flex: 0 0 50%;
  object-fit: cover;
}

.voice {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
}

.voice__item {
  flex: 0 0 33.333%;
  background-size: cover;
  animation: backgroundSize 0.5s infinite;
}

.voice__item--google {
  background-image: url('../images/google.svg');
  transform: rotateZ(45deg);
  background-color: rgb(246, 36, 89);
  mix-blend-mode: difference;
}

.voice__item--siri {
  background-image: url('../images/siri.svg');
  transform: rotateZ(90deg);
  background-color: violet;
  mix-blend-mode: difference;
}

.voice__item--alexa {
  background-image: url('../images/alexa.svg');
  transform: rotateZ(135deg);
  background-color: lightskyblue;
  mix-blend-mode: difference;
}

@keyframes backgroundSize {
  50% {
    background-size: contain;
  }
}

.sync {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.sync__item {
  flex: 0 0 50%;
}

.sync__item__upper {
  animation: background_cycle 20s infinite;
}

.sync__item__lower {
  animation: background_cycle 20s infinite reverse;
}

.sync__image {
  position: absolute;
  width: 20vw;
  height: 20vw;
  align-self: center;
  animation: spin 1s ease-in-out infinite;
  background-image: url('../images/refresh.svg');
}

.chip {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.chip__center {
  position: absolute;
  width: 50vw;
  height: 50vh;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.handles {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  font-size: 5vw;
}

.typer {
  position: absolute;
  background-color: lime;
}
