body {
	font-family: Helvetica,Arial,sans-serif;
  font-size: 32px;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

a {
  color:lime;
}

a:hover {
  animation: blinker 0.1s step-start infinite;
}

/* Index Homepage */
.index__intro {
  font-size: 18px;
  margin-bottom: 25vh;
}

.index__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px 0;
  border-top: 2px solid white;
}

.index__name {
  flex: 0 0 50%;
}

.index__layer {
  flex: 0 0 25%;
}

.index__tag {
  flex: 0 0 25%;
}

/* IP Page */
.ip {
  background-color: magenta;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ip__text {
  font-size: 15vw;
  text-align: center;
  color: lime;
}

.button {
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
}

.animate {
  animation: blinker 0.1s step-start infinite;
}

@keyframes blinker {
  50% {
    background-color: blue;
  }
}

/* Checkers Page */

.checkers {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 2vw;
}

.checkers__black {
  background: black;
  color: lime;
  flex: 0 0 50%;
  width: 50vh;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.checkers__white {
  background: blue;
  color: white;
  flex: 0 0 50%;
  width: 50vh;
  height: 50vh;
  overflow-x: auto;
  overflow-x: hidden;
}

/* Clouds */

.clouds {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(165deg, #527785 0%, #7FB4C7 100%);
  justify-content: center;
}

.cloud--text {
  align-self: center;
  font-size: 5vw;
}

.cloud--circle {
  filter: url(#filter);
  background: transparent;
  border-radius: 50%;
  box-shadow: 200px 200px 60px 0px magenta;
  width: 50vw;
  height: 180px;
  position: absolute;
  animation: float 10s linear infinite;
}

@keyframes float {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(150%);
  }
}

/* Captchas Page */

.row {
  flex: 0 0 100%;
}

.captchas {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
}

.captchas__text {
  position: absolute;
  color: black;
  z-index: 10;
  font-weight: bolder;
  font-size: 10vw;
  align-self: center;
  cursor: help;
}

.captchas__text:hover {
  animation: blinker 0.1s step-start infinite;
}

.captcha__image {
  position: absolute;
  left: -100vw;
  width: 100vw;
  height: 33.333vh;
}

.captcha__image--1 {
  background-image: url('../images/1.png');
  background-blend-mode: difference;
  animation: slide 10s linear 0s infinite;
}

.captcha__image--2 {
  background-image: url('../images/2.jpg');
  background-blend-mode: difference;
  animation: slide 10s linear 2s infinite;
}

.captcha__image--3 {
  background-image: url('../images/3.jpg');
  background-blend-mode: difference;
  animation: slide 10s linear 4s infinite;
}

.captcha__image--4 {
  background-image: url('../images/4.png');
  background-blend-mode: difference;
  animation: slide 10s linear 6s infinite;
}

.captcha__image--5 {
  background-image: url('../images/5.jpg');
  background-blend-mode: difference;
  animation: slide 10s linear 8s infinite;
}

.captcha__image--6 {
  background-image: url('../images/6.jpg');
  background-blend-mode: difference;
  animation: slide 10s linear 10s infinite;
}

@keyframes slide {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
